/* Dropdown styling */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: transparent;
  list-style: none;
  padding: 0;
  border: 0px solid #ccc;
  margin-top: 0.25rem;
  min-width: 10rem;
  z-index: 999;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 0.5rem 0;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: transparent;
}
